$darkpurple: #2A1B3D;
$white: rgb(251, 251, 251);

main {
    box-shadow: 5px 10px 18px #000;
}

.baseboard {
    display: grid;
    background-color: black;
    width: 17vw;
    height: 45vh;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.25fr repeat(5, 1fr);
}

button {
    font-family: 'Lexend Tera', sans-serif;
    background-color: $darkpurple;
    border-color: $darkpurple;
    color: black;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 3s;
    
    &:active{
        color:white;
        font-weight: 900;   
        transform: scale(1.15);
    }
}



button:focus {
    outline: none;
}


.output {
    grid-column-start: span 4;
    color: $white;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}

#answer{
    margin-right: 12px; 
    font-size: 5vh;
    font-family: 'Lexend Tera', sans-serif;
}

.clear {
    grid-column-start: span 4;
}

#equals, #decimal, .arithmetic {
    font-size: 2vh;
}

#subtract {
    font-size: 3vh;
}