.baseboard {
    display: grid;
    background-color: black;
    width: 17vw;
    height: 45vh;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.25fr repeat(5, 1fr);
}

.zero {
    grid-column-start: span 2;
}

.output {
    grid-column-start: span 4;
}

.clear {
    grid-column-start: span 4;
}